<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <trace enabled="false" />
  </system.web>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" /> <!-- Removes Server header -->
    </security>
    <handlers>
      <add name="DenyOTH" verb="OPTIONS" path="*" type="System.Web.HttpMethodNotAllowedHandler" /> <!-- Blocks the listed verb method(s) -->
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" env=HTTPS/>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="0; mode=block" />
        <add name="pragma" value="no-cache" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="Zach" value="test123" />
        
        <add name="Feature-Policy" value="geolocation 'none'; midi 'none'; notifications 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; payment 'none'; push 'none'; sync-xhr 'none'" />
      </customHeaders>
      <redirectHeaders>
        <clear />
      </redirectHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
         <rule name="Angular" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
         </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security only when using HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubdomains; preload" />
        </rule>
        <rule name="CSP">
          <match serverVariable="RESPONSE_Content-Security-Policy" pattern=".*" />
          <action type="Rewrite" value="default-src 'self' https://www.google.com/recaptcha/api2/anchor https://www.google.com/recaptcha/api2/bframe; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://www.google.com/recaptcha/api.js https://www.gstatic.com; connect-src 'self' https://fiscalservice-dev.azure-api.us https://fiscalservice-qa.azure-api.us https://acc.treasurydirect.gov https://fiscalservice.azure-api.us https://treasurydirect.gov" />
        </rule>
        <rule name="Use only secure cookies" preCondition="Unsecured cookie">
         <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
         <action type="Rewrite" value="{R:0}; secure" />
       </rule>
       <preConditions>
         <preCondition name="Unsecured cookie">
           <add input="{RESPONSE_SET_COOKIE}" pattern="." />
           <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
         </preCondition>
       </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>